extends editBook.pug

block content
    if errors
        each error in errors
            .alert.alert-danger #{error}

    .form-input.border.p-4.rounded
                h1.text-center.mb-5 Edit blog
                .row
                    .col-md-6
                        .card.border-success.mb-3(style='max-width: 30rem;').ml-2.mt-4
                          .card-header.bg-transparent.border-success Blog detail
                          .card-body.text-success
                            p.card-title Title: #{blog.title}
                            p.card-text
                              | Writer: #{blog.author}
                            p.cart-text
                                |Description: #{blog.description}
                          .card-footer.bg-transparent.border-success Blog detail

                    .col-md-6
                        form(method="POST")
                          .form-row
                            .form-group.col-md-6
                              label(for='title' require) Title
                              input#inputTitle.form-control(name='title', type='text', value= blog? blog.title : "", style="width: 200%")
                          .form-row
                            .form-group.col-md-6
                              label(for='author') Writer
                              input#author.form-control(name='author', type='text', value= blog? blog.author : "" require, style="width: 200%")
                          .form-row
                            .form-group.col-md-12
                                label(for='description') Description
                                textarea#description.form-control.z-depth-1(name="description" rows='3') #{blog.description}
                            button#confirm.btn.btn-primary.mt-2.ml-1(type="submit") Change
                            //- |Avatar: 
                                //- img.user-logo(src='../images/logo.png', alt='avatar', class="rounded-circle")
