html
    head 
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link rel="stylesheet" href="/styles/style.css">
    body

    nav.nav.fixed-top
      ul
        li.logo-item
          a.logo-link-item(href='#')
            img.logo(src='/images/logo.png', alt='')
        li
          a.coders-tokyo(href='/') Coders.Tokyo
        li
          a(href='/users') Admin
        li
          a(href='/rank') Rank
        li
          a(href='/stream') Stream
        if !user
          li(style='flex-grow:1')
            a(href='/users/' + userId + '/books') Closet
        else 
          li
            a(href='/users/' + userId + '/books') Closet
        if user
          li.user-name
            a.user-name(style='color: #fff')= user.name
          li(style='flex-grow: 1')
            img.user-logo(src='/' + user.avatar, alt='avatar', class="rounded-circle")
        if user
          li
            a.login(href='/logout') Log out
        else 
          li
            a.login(href='./auth/login') Login
    .container.pt-4.main.mt-5(style='height: 800px')
        block content
            if errors
                each error in errors
                    .alert.alert-danger #{error}

            .form-input.border.p-4.rounded
                h1.text-center.mb-5 Edit book
                .row
                    .col-md-6
                        .card.border-success.mb-3(style='max-width: 30rem;').ml-2.mt-4
                          .card-header.bg-transparent.border-success Book detail
                          .card-body.text-success
                            p.card-title Book name: #{book.name}
                            p.card-text
                              | Book author: #{book.author}
                            p.cart-text
                                |Description: #{book.description}
                          .card-footer.bg-transparent.border-success Book detail

                    .col-md-6
                        form(method="POST" enctype="multipart/form-data")
                          .form-row
                            .form-group.col-md-6
                              label(for='name') Book Name
                              input#inputName.form-control(name='name', type='text', value= book? book.name : "", placeholder='New Book Name', style="width: 200%" autofocus)
                          .form-row
                            .form-group.col-md-6
                              label(for='author') Author
                              input#author.form-control(name='author', type='text', value= book? book.author : "", style="width: 200%")
                          .form-row
                            .form-group.col-md-12
                              .head.d-flex
                                label(for='description')(style='flex-grow:1; margin: 0') Description
                                p#countCharOutput(style='margin: 0')
                              textarea#description.form-control.z-depth-1(name="description" rows='5', placeholder='Write description for your book about 180 words or less')
                          .form-row
                            .form-group.col-md-12
                              label(for='cover') Cover
                              .input-group-prepend
                                span.input-group-text Upload
                                .custom-file
                                  input.custom-file-input(name='cover', type='file')
                                  label.custom-file-label(for='chooseFile') Choose file
                          button#confirm.btn.btn-primary.mt-2.ml-1(type="submit") Change
                            //- |Avatar: 
                                //- img.user-logo(src='../images/logo.png', alt='avatar', class="rounded-circle")

            script.
              var textarea = document.getElementById('description');
              var countCharOutPut = document.getElementById('countCharOutput');
              window.onload = function() {
                let countChar = textarea.value.split(' ').join('').trim().length;
                countCharOutPut.innerHTML = countChar;
              }
              textarea.addEventListener('keyup', function() {
              let countChar = textarea.value.trim().split(' ').length;
              countChar === 1 ? countCharOutPut.innerHTML = countChar + ' word' : countCharOutPut.innerHTML = countChar + ' words';
              })
