extends editBook.pug

block content
    if errors
        each error in errors
            .alert.alert-danger #{error}

    .form-input.border.p-4.rounded
                h1.text-center.mb-5 Edit song
                .row
                    .col-md-6
                        .card.border-success.mb-3(style='max-width: 30rem;').ml-2.mt-4
                          .card-header.bg-transparent.border-success Song detail
                          .card-body.text-success
                            p.card-title Song Name: #{song.name}
                            p.card-text
                              | Composers: #{song.composers}
                            p.cart-text
                                |Singers: #{song.singers}
                          .card-footer.bg-transparent.border-success Song detail

                    .col-md-6
                        form(method="POST")
                          .form-row
                            .form-group.col-md-6
                              label(for='name' require) Song Name
                              input#inputName.form-control(name='name', type='text', value= song? song.name : "", style="width: 200%")
                          .form-row
                            .form-group.col-md-6
                              label(for='composers') Composers
                              input#composers.form-control(name='composers', type='text', value= song? song.composers : "" require, style="width: 200%").form-row
                          .form-row
                            .form-group.col-md-6
                              label(for='singers') Singers
                              input#singers.form-control(name='singers', type='text', value= song? song.singers : "" require, style="width: 200%")
                          .form-row
                            .form-group.col-md-12
                                label(for='lyrics') Lyrics
                                textarea#lyrics.form-control.z-depth-1(name="lyrics" rows='3') #{song.lyrics}
                            button#confirm.btn.btn-primary.mt-2.ml-1(type="submit") Change
                            //- |Avatar: 
                                //- img.user-logo(src='../images/logo.png', alt='avatar', class="rounded-circle")
