html
    head 
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link rel="stylesheet" href="/styles/style.css">
    body

    nav.navbar.navbar-expand-lg.navbar-light.bg-light
        a.logo-link(href='/')
            img.navbar-avatar(src='/images/logo.png', alt='avatar', class="rounded-circle")
        a.coders-tokyo.ml-2(href='/') Coders.Tokyo
        #navbarNavAltMarkup.collapse.navbar-collapse
            .navbar-nav
                a.nav-item.nav-link.active(href='../../../users').ml-4.pl-3.pr-3 Admin
                a.nav-item.nav-link(href='./users').pl-3.pr-3 Rank
                a.nav-item.nav-link(href='../../../stream').pl-3.pr-3 Stream
                a.nav-item.nav-link(href='../../books').pl-3.pr-3 Closet
                a.nav-item.nav-link.products(href='../../products').pl-3.pr-3 Products
                if user
                    a.nav-item.nav-link.user-name= user.name
                    img.user-logo(src='/images/logo.png', alt='avatar', class="rounded-circle")
                    //- img.user-logo(src=user.avatar, alt='avatar', class="rounded-circle")
            a.nav-item.nav-link.log-out(href='../../logout').pl-3.pr-3 Log out
    .container.pt-4.main
        block content
            h1 Edit book

            if errors
                each error in errors
                    .alert.alert-danger #{error}

            .card.text-white.bg-dark.mb-3(style='max-width: 18rem;')
                .card-header User info
                .card-body
                    p.card-text User name: #{book.name}
                    |Author: #{book.author}
                    br
                    |Description: #{book.description}


            form(method="POST")
                label(for="name" require) Name
                input(name="name" type="text" class="ml-2" value= book? book.name : "" require)
                br
                label(for="author") Author
                input(name="author" type="text" class="ml-1" value= book? book.author : "" require) 
                br
                label(for='description') Description
                textarea#description.form-control.z-depth-1(name="description" rows='3', placeholder='Write description for your book' value= book? book.description : "")
                br
                button.btn.btn-primary(type='submit' id="submit") Submit
