html
    head 
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link rel="stylesheet" href="../styles/style.css">
    body

    nav.navbar.navbar-expand-lg.navbar-light.bg-light
        a.logo-link(href='/')
            img.navbar-avatar(src='../images/logo.png', alt='avatar', class="rounded-circle")
        a.coders-tokyo.ml-2(href='/') Coders.Tokyo
        #navbarNavAltMarkup.collapse.navbar-collapse
            .navbar-nav
                a.nav-item.nav-link.active(href='/').ml-4.pl-3.pr-3 Home
                a.nav-item.nav-link(href='./users').pl-3.pr-3 Rank
                a.nav-item.nav-link(href='./users/create').pl-3.pr-3 Stream
                a.nav-item.nav-link(href='./books').pl-3.pr-3 Closet
                a.nav-item.nav-link(href='./logout').pl-3.pr-3 Log out
                if user
                    a.nav-item.nav-link.user-name= user.name
                    img.user-logo(src='../images/logo.png', alt='avatar', class="rounded-circle")
                    //- img.user-logo(src=user.avatar, alt='avatar', class="rounded-circle")

    .container.pt-4.main
        block content
            select(onchange='this.options[this.selectedIndex].value && (window.location = this.options[this.selectedIndex].value);').mb-3
              option() Type 
              option(value='books') Books
              option(value='movies') Movies
              option(value='songs') Songs
              option(value='blogs') Blogs
            
            .container-movies.visible                
                .d-flex.align-items-center.mb-3
                    h1 
                        span.mr-2 Songs
                        a.btn.btn-primary(href='/users/songs/create') New

                    form.ml-auto(action="/users/songs/search", method="GET")
                        input(type="text", name="q" id="searchInput")
                        button.btn.btn-info Search


                table.table
                    tr
                        th STT
                        th Cover
                        th Name
                        th(style='padding: 12px 34px 0px 32px') Singers
                        th(style='padding-left: 85px') Option
                    each song, index in songs
                        tr
                            td= index + 1
                            td
                                img(src=song.cover style="width: 34")
                            td= song.name
                            td.preview-song(style='width: 30px')= song.singers
                            td
                                a.btn.btn-danger.mr-3(href="/users/songs/edit/" + song.id) Edit
                                a.btn.btn-info.mr-3(href="/users/" + song.id) View
                                a.btn.btn-danger.mr-3(href="/users/songs/delete/" + song.id) Delete

            script.
                var input = document.getElementById('searchInput');
                input.value = sessionStorage.getItem('draft');
                input.addEventListener('change', updateSessionStorage);
                function updateSessionStorage(){
                    sessionStorage.setItem('draft', input.value)
                }
