html
    head 
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
        <link rel="stylesheet" href="/styles/style.css">

    body

    nav.navbar.navbar-expand-lg.navbar-light.bg-light.fixed-top
        a.logo-link(href='/')
            img.navbar-avatar(src='/images/logo.png', alt='avatar', class="rounded-circle")
        a.coders-tokyo.ml-2(href='/') Coders.Tokyo
        #navbarNavAltMarkup.collapse.navbar-collapse
            .navbar-nav
                a.nav-item.nav-link(href='../../users').ml-4.pl-3.pr-3 Admin
                a.nav-item.nav-link(href='./users').pl-3.pr-3 Rank
                a.nav-item.nav-link(href='../../stream').pl-3.pr-3 Stream
                a.nav-item.nav-link.closet(href='../../users/' + user.id + '/books').pl-3.pr-3 Closet
                if userWall
                    a.nav-item.nav-link.user-name= userWall.name
                    img.user-logo(src='/images/logo.png', alt='avatar', class="rounded-circle")
                    //- img.user-logo(src=user.avatar, alt='avatar', class="rounded-circle")
            if userWall
                a.nav-item.nav-link.log-out(href='/logout').pl-3.pr-3 Log out
            else
                a.nav-item.nav-link.log-out(href='/auth/login').pl-3.pr-3 Login

    .container.pt-4.main(style='height: auto')
            select(onchange='this.options[this.selectedIndex].value && (window.location = this.options[this.selectedIndex].value);').mb-3
              option() Type 
              option(value='books') Books
              option(value='movies') Movies
              option(value='songs') Songs
              option(value='blogs') Blogs

            if user
                h2 Here is #{user.name}'s books collection

            each book, index in books
                .book-info-container.row.mt-5.ml-4(style='margin-bottom: 100px')
                    .book-cover.pr-0.mt-0.col-md-5.d-flex.flex-column.justify-content-center.align-items-center
                        .image-cover
                            a.image-link(style='background-color: red; margin-left: 75px')(href='')
                                img.img-cover.mb-4(src='/' + book.cover)(style='width: 65%; box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px    12px rgba(0,0,0,0.22); border-radius: 10px;')
                                .button-group.d-flex.justify-content-center.align-items-center
                                    i.btn.mr-4.ml-4.fab.fa-facebook.p-0(style='font-size: 20px;')
                                    i.btn.mr-4.fab.fa-google.p-0(style='font-size: 20px;')
                                    i.btn.mr-4.fab.fa-twitter.p-0(style='font-size: 20px;')
                        a.btn.btn-primary(href='') Borrow
                    .book-introducion.col-md-6.d-flex.flex-column.p-0(style='height: 488px')
                        .book-detail.p-3(style='overflow: auto')
                            h2.mb-1.ml-3= book.name
                            hr.mt-2(style='width: 500px; margin-left: 15px;')
                            h5.ml-3.mb-4 Author: #{book.author}
                            p.ml-3(style='font-style: italic; font-size: 16px; color: #888')= book.description
                            
            
            
            nav(aria-label='Page navigation example').d-flex.justify-content-center.align-items-center
                form(action = "POST")
                    ul.pagination
                        if page <= totalPages
                            li.page-item 
                                a.page-link(href='/products/' + user.id + '/books/?page='+ (page - 1)) Previous
                        li.page-item    
                            a.page-link(href='/products/' + user.id + '/books/?page=' + page)= page
                        if page + 1 <= totalPages
                            li.page-item
                                a.page-link(href='/products/' + user.id + '/books/?page=' + eval(page + 1))= page + 1
                        if page + 2 <= totalPages
                            li.page-item
                                a.page-link(href='/products/' + user.id + '/books/?page=' + eval(page + 2))= page + 2
                        if page + 1 <= totalPages
                            li.page-item
                                a.page-link(href='/products/' + user.id + '/books/?page='+ (page + 1)) Next
                    
