html
		head 
			<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
			<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
			<link rel="stylesheet" href="/styles/style.css">
		body

		nav.nav.fixed-top
			ul
				li.logo-item
					a.logo-link-item(href='#')
						img.logo(src='/images/logo.png', alt='')
				li
					a.coders-tokyo(href='/') Coders.Tokyo
				li
					a(href='/users') Admin
				li
					a(href='/rank') Rank
				li
					a(href='/stream') Stream
				if !userWall
					li(style='flex-grow:1')
						a(href='/users/' + userWallId + '/books') Closet
				else 
						li
							a(href='/users/' + userWallId + '/books') Closet
				if userWall
						li.user-name
							a.user-name(style='color: #fff')= userWall.name
						li(style='flex-grow: 1')
							img.user-logo(src='/' + userWall.avatar, alt='avatar', class="rounded-circle")
				if userWall
						li
							a.login(href='/logout') Log out
				else 
						li
							a.login(href='/auth/login') Login


		.container.pt-4.main(style='height: auto').mt-5

			block content
				select(onchange='this.options[this.selectedIndex].value && (window.location = this.options[this.selectedIndex].value);').mb-3.btn
					option(value='../' + 'songs') Play Songs
					option(value='../' + 'songs') Songs
					option(value='../' + 'books') Books
					option(value='../' + 'movies') Movies
					option(value='../' + 'blogs') Blogs

				if user
					- var userId = user.id
					.row
						.songPlayList#songPlayList.col-md-5.mt-4
							each song, index in songs
								#song.song.border.d-flex.align-items-center.mb-5.ml-4(style='border-radius: 40px; height: 100px; width: 370px; overflow: hidden')
									img#songBanner.songBanner(src='/' + song.cover).ml-3.rounded-circle(style='width: 50px; height: 50px')
									.song-info.ml-5.mt-3(style='flex-grow: 1')
										p(style='font-size: 16px').mb-1= song.name
										p(style='font-size: 12px')= song.singers
									a(href='/products/' + userId + '/playSong/' + song.id)
										i#playBtn.btn.fas.fa-play.p-3.border.rounded-circle(style='margin-right: 50px; color: red; background-color: #fff', data-id= song.id, data-mp3file = song.mp3File, data-lyrics = song.lyrics)

						.lyrics.col-md-6.ml-5.mt-4.border(style='border-radius: 15px; height: 560px')
							if songToPlay
								h2#songNameLyrics.text-center.mt-3.mb-3= songToPlay.name
								p(style='float: right;font-size: 15px; color: #666').mt-1.mb-1= songToPlay.singers
								hr
								.lyric-container
									pre#contentLyrics.ml-2= songToPlay.lyrics
						.player#player(style='margin: -15px 50px')
							audio#audio(controls='' autoplay)
								source#source(src='../../../' + songToPlay.mp3File, type='audio/ogg')


				nav(aria-label='Page navigation example').d-flex.justify-content-center.align-items-center.mt-5
					form(action = "POST")
						ul.pagination
							if page <= totalPages
								li.page-item 
									a.page-link(href='/products/' + user.id + '/songs/?page='+ (page - 1)) Previous
							if page -1 <= totalPages && page - 1 !== 0
								li.page-item
									a.page-link(href='/products/' + user.id + '/songs/?page=' + eval(page - 1))= page - 1
							if page <= totalPages
								li.page-item.active   
									a.page-link(href='/products/' + user.id + '/songs/?page=' + page)= page
							if page + 1 <= totalPages
								li.page-item
									a.page-link(href='/products/' + user.id + '/songs/?page=' + eval(page + 1))= page + 1
							if page + 1 <= totalPages
								li.page-item
									a.page-link(href='/products/' + user.id + '/songs/?page='+ (page + 1)) Next
							else 
								li.page-item
									a.page-link(href='/products/' + user.id + '/songs/?page='+ page) Next


					//- script.
					//- 	var playBtn = document.getElementById("playBtn");
					//- 	var songBanner = document.getElementsByClassName("songBanner");
					//- 	var song = document.getElementsByClassName("song");
					//- 	const clickFunc = function() {
					//- 		this.style.color = 'red';
					//- 	  this.style.background = 'blue';
					//- 	}
					//- 	for (let i = 0; i < songBanner.length; i++) {
					//- 		songBanner[i].addEventListener('click', clickFunc);
					//- 	}
					//- 	for (let i = 0; i < song.length; i++) {
					//- 		song[i].addEventListener('click', function() {
					//- 			song[i].setAttribute('class', 'changeColor song border d-flex align-items-center mb-5 ml-4')
					//- 		});
					//- 	}
					//- 	playBtn.addEventListener('click', function() {
					//- 		playBtn.setAttribute('class', 'btn fas fa-pause p-3 border rounded-circle')
					//- 	})

